body, html {
    padding:0 !important;
    margin: 0 !important;
    height: 100%;
    line-height: 1.5;
}

p{
    font-family: 'Exo 2', Helvetica, Arial;
}

.topnav {
    background-color: #1C1C1C;
    font-family: 'Exo 2', Helvetica, Arial;
    color: white;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 1;
    height: 12vh;
    box-shadow: 0px 1px 8px 6px #C50000;
}

@media screen and (min-width: 1281px) {
    .topnav {
        background-color: #1C1C1C;
        font-family: 'Exo 2', Helvetica, Arial;
        color: white;
        position: fixed;
        top:0;
        width: 100vw;
        z-index: 1;
        height: 8vh;
        box-shadow: 0px 1px 8px 6px #C50000;
    }
}

.topnav-item{
    font-family: 'Exo 2', Helvetica, Arial;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.topnav-item-right{
    float: right;
    margin-right: 15px;
}

.topnav-item:hover{
    color: rgba(197,0,0,0.8);
    box-shadow: inset 0 -1px 0 0 #C50000;
}

#sidenav{
    display: none;
    background-color: #1C1C1C;
}

.sidenav-item li{
    font-family: 'Exo 2', Helvetica, Arial;
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding:10px;
}

.sidenav-item a{
    font-family: 'Exo 2', Helvetica, Arial;
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding:10px;
}

.sidenav-item a:hover{
    color: rgba(197,0,0,0.8);
    box-shadow: inset 0 -1px 0 0 #C50000;
}

#close{
    font-size: 20px;
    text-decoration: none;
}

.hamMenu{
    color:white;
    float: right;
    padding: 8px;
    margin-right: 20px;
}

.hamMenu:hover{
    color:white;
    background-color: #1C1C1C;
    color: rgba(197,0,0,0.8);
}


.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.left {
    text-align: center;
    flex: 62%;
    padding-left: 15px;
}

.right {
    flex: 38%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.myWorkHeading{
    font-family: 'Exo 2', Helvetica, Arial;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.listing{
    font-family: 'Exo 2', Helvetica, Arial;
    text-align: justify;
    margin-top: 2vh;
    width: 50vw;
}

.myWork{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
}

.myWorkLeft{
    font-family: 'Exo 2', Helvetica, Arial;
    display: flex;
    flex: 48%;
    align-items: center;
    background-image: url("leftBanner.svg");
    background-repeat: no-repeat;
    background-size: 160% 120%;
    transform: translateX(-15%);
}


.myWorkRight{
    font-family: 'Exo 2', Helvetica, Arial;
    display: flex;
    flex: 48%;
    background-image: url("rightBanner.svg");
    background-repeat: no-repeat;
    background-size: 160% 120%;
    transform: translate(-20%);
}


#portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 80%;
    object-fit: scale-down;
    height: 100vh;
}

@media (max-width: 700px) {
    .left, .right {
        flex: 100%;
    }
}

.ending{
    background-color: #1C1C1C;
    width: 100%;
    height: 30vh;
    margin: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 8px 0px #C50000;
}

.ending_sentence{
    padding: 20px;
    font-family: 'Exo 2', Helvetica, Arial;
    color: white;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 20vh;
    background-color: #1C1C1C;
    text-align: center;
    box-shadow: 0px 5px 10px 8px #C50000;

}

.footer-content{
    color: white;
    padding-top: 5px;
    font-family: 'Exo 2', Helvetica, Arial;
    font-size: 10px;
    margin-top: auto;

}

.footer-content a{
    text-decoration: none;
}

.social-media{
    text-align: center;
}

.social-media a{
    font-size: 20px;
    padding: 5px;
}

.social-media a:hover{
    background-color: #E6E6E6;
}

.pillar-headline{
    font-family: 'Exo 2', Helvetica, Arial;
    text-align: center;
}

.underline{
    border: solid 2px black;
    margin: 0px 120px 0px 120px;
}


.flexbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item{
    text-align: center;
    margin-bottom: 4%;
    width: 48%;
    border-radius: 8px;
}


@media screen and(max-width: 700px) {
    .col1, .col2 {
        flex: 100%;
    }
}

@media screen and(max-width: 700px) {
    .flex-item {
        flex: 100%;
    }
}

.flex-offer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-offer-item{
    text-align: center;
    margin: 2% 1% 4% 1%;
    width: 48%;
    border-radius: 8px;
}

@media (max-width: 700px) {
    .flex-offer-item {
        flex: 100%;
    }
}

.heading{
    width: 100%;
    height: 90vh;
    padding-top: 15vh;
    text-align: center;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1920 357" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(28, 28, 28, 1)" d="M 0 312 C 716.4 312 477.6 222 1194 222 L 1194 222 L 1194 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(28, 28, 28, 1)" d="M 1193 222 C 1629.2 222 1483.8 0 1920 0 L 1920 0 L 1920 0 L 1193 0 Z" stroke-width="0"></path> </svg>');
    background-repeat: no-repeat;
    background-size: cover;
}

.heading > h2{
    margin: 0 8% 0 8%;
    font-size: 60px;
    font-weight: bold;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 5000ms linear infinite;
}

.slogan{
    font-family: 'Exo 2', Helvetica, Arial;
    color: white;
    width: 40vw;
    margin-left: 5vw;
    font-size: 20px;
    transform: translateX(20px);
    transform: translateY(40px);
}


@keyframes glow {
    0% { color: black;
        text-shadow: 0 0 10px #C50000;}
    20% { color: #e11600;
        text-shadow: 0 0 10px #1C1C1C;}
    40% { color: black;
        text-shadow: 0 0 10px #C50000;}
    60% { color: #e11600;
        text-shadow: 0 0 10px #1C1C1C;}
    80% { color: black;
        text-shadow: 0 0 10px #C50000;}
    100% { color: #e11600;
        text-shadow: 0 0 10px #1C1C1C;}
}

@keyframes reveal {
    80% { letter-spacing: 4px;}
    100% { background-size: 500% 500%}
}

@keyframes reveal-small {
    80% { letter-spacing: 2px;}
    100% { background-size: 100% 100%}
}


/*Queries for responsive design*/

/*Query for slogan for big screens*/
@media screen and (min-width: 1024px){
    .slogan{
        font-family: 'Exo 2', Helvetica, Arial;
        color: white;
        width: 40vw;
        margin-left: 5vw;
        font-size: 35px;
        transform: translateX(20px);
        transform: translateY(40px);
    }
}

/*Query for pillars for big screens*/
@media screen and (min-width: 1281px) {
    .card {
        background: #1C1C1C;
        border-radius: 8px;
        box-shadow: 0px 5px 10px 8px #C50000;
        cursor: pointer;
        height: 550px;
        margin: 20px;
        padding: 0 20px;
        position: relative;
        text-align: center;
        transition: height 1000ms;
        width: 44%;
    }

    .card.expanded {
        height: 700px;
    }
    .label {
        margin-top: 10px;
        transform: translateY(20px);
        transition: transform 1000ms;
    }

    .label img{
        width: 100%;
        height: 50vh;
        object-fit: fill;
    }

    .card.expanded .label {
        transform: translateY(-20px);
    }
    .text1 {
        -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
        transition: clip-path 1000ms;
    }
    .card.expanded .text1 {
        clip-path: inset(0%,0%,0%,0%);
        -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
    }

    .text-content {
        transform: translateY(-400px);
        transition: transform 1000ms;
        color: white;
    }
    .card.expanded .text-content {
        transform: translateY(-5px);
    }
    .chevron {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 15px);
        transform-origin: 50%;
        transform: rotate(180deg);
        transition: transform 1000ms;
    }
    .card.expanded .chevron {
        transform: rotate(0deg);
    }
    .title {
        font-family: 'Exo 2', Helvetica, Arial;
        font-weight: 900;
        margin: 20px 0 12px;
    }
    .body-text {
        font-family: 'Exo 2', Helvetica, Arial;
        padding: 0 20px;
    }
}

/*Query for pillars for medium screens*/
@media screen and (max-width: 1280px) {
    .card {
        background: #1C1C1C;
        border-radius: 8px;
        box-shadow: 0px 5px 10px 8px #C50000;
        cursor: pointer;
        height: 450px;
        margin: 20px;
        padding: 0 20px;
        position: relative;
        text-align: center;
        transition: height 1000ms;
        width: 44%;
    }

    .card.expanded {
        height: 550px;
    }
    .label {
        margin-top: 10px;
        transform: translateY(20px);
        transition: transform 1000ms;
    }

    .label img{
        width: 100%;
        height: 60vh;
    }

    .card.expanded .label {
        transform: translateY(-20px);
    }
    .text1 {
        -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
        transition: clip-path 1000ms;
    }
    .card.expanded .text1 {
        clip-path: inset(0%,0%,0%,0%);
        -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
    }

    .text-content {
        transform: translateY(-400px);
        transition: transform 1000ms;
        color: white;
    }
    .card.expanded .text-content {
        transform: translateY(-5px);
    }
    .chevron {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 15px);
        transform-origin: 50%;
        transform: rotate(180deg);
        transition: transform 1000ms;
    }
    .card.expanded .chevron {
        transform: rotate(0deg);
    }
    .title {
        font-family: 'Exo 2', Helvetica, Arial;
        font-weight: 900;
        margin: 20px 0 12px;
    }
    .body-text {
        font-family: 'Exo 2', Helvetica, Arial;
        padding: 0 20px;
    }
}


/*Query for heading for big screens*/
@media screen and (min-width: 1281px) {
    .heading{
        padding-top: 16vh;
        width: 100%;
    }

    .heading > h2{
        font-size: 65px;
        font-weight: bold;
        margin: 0 2% 0 2%;
        padding: 2px;
        animation: reveal-small 3000ms ease-in-out forwards 200ms, glow 5000ms linear infinite;
    }
}

/*Query for heading for medium screens*/
@media screen and (max-width: 1024px) {
    .heading{
        padding-top: 16vh;
        width: 100%;
    }

    .heading > h2{
        font-size: 40px;
        font-weight: bold;
        margin: 0 2% 0 2%;
        padding: 4px;
        animation: reveal-small 3000ms ease-in-out forwards 200ms, glow 5000ms linear infinite;
    }
}


/*Query for heading for small screens*/
@media screen and (max-width: 450px) {

    .heading{
        padding-top: 10vh;
        width: 100%;
        height: 40vh;
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1920 357" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(28, 28, 28, 1)" d="M 0 312 C 716.4 312 477.6 222 1194 222 L 1194 222 L 1194 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(28, 28, 28, 1)" d="M 1193 222 C 1629.2 222 1483.8 0 1920 0 L 1920 0 L 1920 0 L 1193 0 Z" stroke-width="0"></path> </svg>');
        background-repeat: no-repeat;
        background-size: 350%;
    }

    .heading > h2{
        font-size: 22px;
        font-weight: bold;
        margin: 0 2% 0 2%;
        padding: 4px;
        animation: reveal-small 3000ms ease-in-out forwards 200ms, glow 5000ms linear infinite;
    }

    .listing{
        font-family: 'Exo 2', Helvetica, Arial;
        text-align: justify;
        margin-top: 2vh;
        width: 85vw;
    }

    .ending_sentence{
        padding: 10px;
        font-family: 'Exo 2', Helvetica, Arial;
        color: white;
        width: 100%;
    }

    .slogan{
        font-family: 'Exo 2', Helvetica, Arial;
        color: white;
        width: 40vw;
        margin-left: 5vw;
        font-size: 12px;
        transform: translateX(20px);
        transform: translateY(20px);
    }

    .topnav {
        background-color: #1C1C1C;
        font-family: 'Exo 2', Helvetica, Arial;
        color: white;
        position: fixed;
        top:0;
        width: 100vw;
        z-index: 1;
        height: 7vh;
        box-shadow: 0px 1px 8px 6px #C50000;
    }

    .hamMenu{
        color:white;
        float: right;
        padding: 12px;
        right: 1vw;
    }

    .card {
        background: #1C1C1C;
        border-radius: 8px;
        box-shadow: 0px 5px 10px 8px #C50000;
        cursor: pointer;
        height: 350px;
        margin: 20px;
        padding: 0 20px;
        position: relative;
        text-align: center;
        transition: height 1000ms;
        width: 100%;
    }

    .card.expanded {
        height: 520px;
    }
    .label {
        margin-top: 10px;
        transform: translateY(20px);
        transition: transform 1000ms;
    }

    .label img{
        width: 100%;
        height: 30vh;
    }

    .card.expanded .label {
        transform: translateY(-20px);
    }
    .text1 {
        -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
        transition: clip-path 1000ms;
    }
    .card.expanded .text1 {
        clip-path: inset(0%,0%,0%,0%);
        -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
    }

    .text-content {
        transform: translateY(-400px);
        transition: transform 1000ms;
        color: white;
    }
    .card.expanded .text-content {
        transform: translateY(-5px);
    }
    .chevron {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 15px);
        transform-origin: 50%;
        transform: rotate(180deg);
        transition: transform 1000ms;
    }
    .card.expanded .chevron {
        transform: rotate(0deg);
    }
    .title {
        font-family: 'Exo 2', Helvetica, Arial;
        font-weight: 900;
        margin: 20px 0 12px;
    }
    .body-text {
        font-family: 'Exo 2', Helvetica, Arial;
        padding: 0 20px;
    }

}

/*Query for work for small screens*/
@media screen and (max-width: 450px){
    .myWork{
        display: flex;
        flex-wrap: wrap;
        height: 90vh;
        width: 100%;
    }

    .myWorkLeft{
        font-family: 'Exo 2', Helvetica, Arial;
        display: flex;
        flex: 100%;
        background-image: url("leftBanner.svg");
        background-repeat: no-repeat;
        background-size: 150% 150%;
    }


    .myWorkRight{
        font-family: 'Exo 2', Helvetica, Arial;
        display: flex;
        flex: 100%;
        background-image: url("rightBanner.svg");
        background-repeat: no-repeat;
        background-size: 150% 150%;
        transform: translateX(-15%);
    }
}
